---
import "@fontsource-variable/podkova";
import ProspectForm from "../Preact/ProspectForm";

const businessTypes = [
  {
    text: "BARBERÍA",
    color: "bg-red-600",
  },
  {
    text: "PELUQUERÍA",
    color: "bg-green-600",
  },
  {
    text: "SALÓN DE BELLEZA",
    color: "bg-blue-600",
  },
  {
    text: "SPA",
    color: "bg-accent",
  },
];
---

<article class="grid grid-cols-3 mb-20 gap-5 px-20">
  <section class="flex items-baseline justify-end mt-10 gap-2">
    <img
      class="h-full"
      src="/assets/img/phone-dashboard-1.svg"
      alt="Pantallazo del dashboard de la aplicación"
    />
    <img
      class="h-3/4"
      src="/assets/img/phone-menu.svg"
      alt="Pantallazo del dashboard de la aplicación"
    />
  </section>

  <section class="col-span-2 mt-20">
    <h1 class="text-5xl px-2 text-center">
      <p class="text-nowrap">
        Impulsa el éxito de tu
        <span
          id="txtBusinessType"
          class="transition-all rounded-full px-8 text-primary"
        >
        </span>
      </p>
      con un espacio único que permita a tus clientes reservar citas, consultar servicios,
      estar al tanto de noticias y mucho más.
    </h1>
    <div class="grid grid-cols-2 bg-black/30 rounded-3xl mt-10 p-5">
      <div
        class="flex flex-col gap-5 justify-center border-r-2 border-white/80 p-5"
      >
        <h2 class="text-2xl text-center font-bold">
          ¿Quieres recibir más información sobre este proyecto?
        </h2>
        <p class="text-center">
          Te mantendremos informado acerca de nuevas funcionalidades y servicios
          que tenemos para ti.
        </p>
      </div>
      <ProspectForm client:load />
    </div>
  </section>
</article>

<style>
  h1 {
    font-family: "Podkova Variable", serif;
  }

  article,
  section {
    height: calc(100vh - 5rem - var(--header-desktop-height)) !important;
  }
</style>

<script is:inline define:vars={{ businessTypes }}>
  let index = 0;
  const type = document.getElementById("txtBusinessType");

  const changeBusinessType = () => {
    const { text, color } = businessTypes[index++];

    type.innerText = text.toUpperCase();

    type.classList.remove(type.classList[type.classList.length - 1]);
    type.classList.add(color);

    if (index === businessTypes.length) index = 0;
  };

  changeBusinessType();
  setInterval(changeBusinessType, 1000 * 5);
</script>
