---
import "@fontsource-variable/podkova";
import "@fontsource/permanent-marker";
import ProspectForm from "../Preact/ProspectForm";

const businessTypes = [
  {
    text: "BARBERÍA",
    color: "bg-accent text-secondary",
  },
  {
    text: "PELUQUERÍA",
    color: "bg-accent text-secondary",
  },
  {
    text: "SALÓN DE BELLEZA",
    color: "bg-accent text-secondary",
  },
  {
    text: "SPA",
    color: "bg-accent text-secondary",
  },
];
---

<article
  class="grid grid-cols-1 sm:grid-cols-3 mb-20 gap-5 px-5 sm:px-20 sm:h-container"
>
  <section
    class="items-baseline justify-end mt-10 gap-2 animate-slide-in-left hidden sm:flex sm:h-container"
  >
    <img
      class="h-full"
      src="/assets/img/phone-dashboard-1.svg"
      alt="Pantallazo del dashboard de la aplicación"
    />
    <img
      class="h-3/4"
      src="/assets/img/phone-menu.svg"
      alt="Pantallazo del dashboard de la aplicación"
    />
  </section>

  <section class="col-1 sm:col-span-2 mt-20 sm:h-container">
    <h1
      class="text-3xl sm:text-5xl text-center sm:text-left px-2 relative animate-slide-in-top"
    >
      <span
        class="absolute left-0 top-[-60px] -rotate-6 text-2xl sm:text-4xl soon bg-secondary py-2 px-6 text-accent shadow-md shadow-white/5 transition-all hover:bg-accent hover:text-secondary"
      >
        Proximamente
      </span>
      <p class="sm:text-nowrap z-10">
        Impulsa el éxito de tu <br class="sm:hidden" />
        <span id="txtBusinessType" class="px-8 text-primary"> </span>
      </p>
      con un espacio único que permita a tus clientes reservar citas, consultar servicios,
      estar al tanto de noticias y mucho más.
    </h1>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 bg-black/30 rounded-3xl mt-10 sm:p-5 animate-fade-in-left"
    >
      <div
        class="flex flex-col gap-5 justify-center sm:border-r-2 sm:border-white/80 p-5"
      >
        <h2 class="text-xl sm:text-2xl text-center font-bold">
          ¿Quieres recibir más información sobre este proyecto?
        </h2>
        <p class="text-center text-sm sm:text-lg">
          Te mantendremos informado acerca de nuevas funcionalidades y servicios
          que tenemos para ti.
        </p>
      </div>
      <ProspectForm client:load />
    </div>
  </section>
</article>

<style>
  h1 {
    font-family: "Podkova Variable", serif;
  }

  .h-container {
    height: calc(100vh - 5rem - var(--header-desktop-height)) !important;
    background-color: red;
  }

  .soon {
    font-family: "Permanent Marker", cursive;
  }

  .soon::after {
    top: 19px;
    content: "\219D";
    font-size: 5rem;
    position: fixed;
    color: #db90ff;
    transform: rotate(93deg);
  }

  .soon:hover::after {
    color: white;
  }
</style>

<script is:inline define:vars={{ businessTypes }}>
  let index = 0;
  const type = document.getElementById("txtBusinessType");

  const changeBusinessType = () => {
    const { text, color } = businessTypes[index++];

    type.innerText = text.toUpperCase();

    type.classList.remove(type.classList[type.classList.length - 1]);
    color.split(" ").forEach((x) => type.classList.add(x));

    if (index === businessTypes.length) index = 0;
  };

  changeBusinessType();
  setInterval(changeBusinessType, 1000 * 5);
</script>
