---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import Header from "../components/Header.astro";
import Services from "../components/Services.astro";
---

<Layout title="Businessapp">
  <Header />
  <main class="px-20">
    <Home />
    <Services />
  </main>
  <!-- <div id="home" class="pt-10">
    
  </div> -->
</Layout>
