---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Astro/Home.astro";
import Header from "../components/Astro/Header.astro";
import Services from "../components/Preact/Services";
---

<Layout title="Businessapp">
  <Header />
  <main>
    <Home />
    <Services client:visible />
  </main>
</Layout>
