---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Preact/Header";
import Home from "../components/Preact/Home";
import Services from "../components/Preact/Services";
---

<Layout title="Businessapp">
  <Header client:load />
  <main>
    <Home client:load />
    <Services client:load />
  </main>
</Layout>
