<button
  type="submit"
  class="relative inline-flex items-center justify-center p-0.5 rounded-md overflow-hidden text-xl font-medium group bg-gradient-to-br from-accent to-violet-600"
>
  <span
    class="relative w-full px-5 py-2.5 transition-all rounded-md ease-in duration-75 bg-primary group-hover:bg-opacity-0"
  >
    Notificarme
  </span>
</button>
