---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="flex gap-2 items-center text-[17px] text-white border-b-2 border-transparent pb-1 cursor-pointer transition-all hover:text-xl hover:border-b-accent"
>
  <slot name="before" />
  <slot />
</a>
