---
interface Props {
  id: string;
  name: string;
  icon: string;
}

const { name, icon, id } = Astro.props;
---

<a
  id={id}
  href="javascript: void(0)"
  class="py-2 px-5 rounded-full text-primary font-semibold flex gap-2 items-center transition-all hover:bg-white"
>
  <img src={icon} alt="Icono representativo de {name}" />
  {name}
</a>
