---
import "@fontsource-variable/plus-jakarta-sans";
import { ViewTransitions } from "astro:transitions";
import GoToTop from "../components/Astro/GoToTop.astro";
import SpeedInsights from "@vercel/speed-insights/astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="MyBusinessApp es una software que ayuda a profesionalizar negocios cómo barberías, peluquerías, salones de belleza, etc. Entregando una amplia variedad de herramientas tales como: creación de negocios, trabajadores, servicios, agendamiento virtual y un espacio para los clientes donde pueden visualizar promociones, fotos de los trabajos realizados, agendar citas y demás."
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#16132C" />
		<title>{title}</title>

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://www.mybusinessapp.com.co/" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="MyBusinessApp" />
		<meta
			property="og:description"
			content="MyBusinessApp es una software que ayuda a profesionalizar negocios cómo barberías, peluquerías, salones de belleza, etc. Entregando una amplia variedad de herramientas tales como: creación de negocios, trabajadores, servicios, agendamiento virtual y un espacio para los clientes donde pueden visualizar promociones, fotos de los trabajos realizados, agendar citas y demás."
		/>
		<meta
			property="og:image"
			content="https://www.mybusinessapp.com.co/assets/img/screenshot.png"
		/>

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="mybusinessapp.com.co" />
		<meta property="twitter:url" content="https://www.mybusinessapp.com.co/" />
		<meta name="twitter:title" content="MyBusinessApp" />
		<meta
			name="twitter:description"
			content="MyBusinessApp es una software que ayuda a profesionalizar negocios cómo barberías, peluquerías, salones de belleza, etc. Entregando una amplia variedad de herramientas tales como: creación de negocios, trabajadores, servicios, agendamiento virtual y un espacio para los clientes donde pueden visualizar promociones, fotos de los trabajos realizados, agendar citas y demás."
		/>
		<meta
			name="twitter:image"
			content="https://www.mybusinessapp.com.co/https://www.mybusinessapp.com.coassets/img/screenshot.png"
		/>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<ViewTransitions />

		<style is:global>
			html {
				font-family: "Plus Jakarta Sans Variable", sans-serif;
				color-scheme: dark;
				scroll-behavior: smooth;
			}

			pre {
				font-family: "Plus Jakarta Sans Variable", sans-serif;
			}

			.size-services {
				height: calc(100vh - 2.5rem - 130px);
			}
		</style>
	</head>
	<body
		class="bg-[url('/assets/img/background-light.svg')] dark:bg-[url('/assets/img/background-dark.svg')] bg-center bg-cover min-h-screen"
	>
		<SpeedInsights />
		<slot />
		<GoToTop />
		<script>
			const theme = localStorage.getItem("theme");
			document.documentElement.classList.add(theme ?? "dark");
		</script>
	</body>
</html>
