---
import "@fontsource-variable/plus-jakarta-sans";
import { ViewTransitions } from "astro:transitions";
import GoToTop from "../components/Astro/GoToTop.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="MyBusinessApp es una software que ayuda a profesionalizar negocios cómo barberías, peluquerías, salones de belleza, etc. Entregan una amplia variedad de herramientas tales como: creación de negocios, trabajadores, servicios, agendamiento virtual y un espacio para los clientes donde pueden visualizar promociones, fotos de los trabajos realizados, agendar citas y demás."
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- open graph -->
		<meta property="og:title" content="..." />
		<meta property="og:description" content="..." />
		<meta property="og:image" content="/..." />
		<meta property="og:image:alt" content="..." />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<ViewTransitions />

		<style is:global>
			html {
				font-family: "Plus Jakarta Sans Variable", sans-serif;
				color-scheme: dark;
				scroll-behavior: smooth;
			}

			body {
				background-image: url("/assets/img/effect.svg");
				background-repeat: round;
			}
		</style>
	</head>
	<body class="bg-primary min-h-screen">
		<slot />
		<GoToTop />
	</body>
</html>
